*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{

    
}
.main{
    width: 37rem;
    min-width: 521px;
    height: 50rem;
    padding: 20px;
    /* height: 0vh; */
    background-image: linear-gradient(#0000FF,#36EEE0);
    /* background-color: black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    position: relative;
    top: 10vh;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav input{
    height: 3.5em;
    width: 21em;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 5px 0 0 20px;
    font-size: 24px;
    cursor: pointer;
}
.nav input:hover{
    border: 5px solid #212121;
}
.nav button{
    height: 6.2em;
    width: 6.2em;
    border-radius: 40px;
    cursor: pointer;
}
.nav button:active{
    /* border-color: black; */
    border: 5px solid;
}
.nav button img{
    height: 50px;
}
.middle{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.5em;
}

.down{
    display: flex;
    column-gap: 6em;
    /* position: relative; */
    margin-top: 8em;

}
.humidity{
    display: flex;
    gap: 1em;
}
.wind{
    display: flex;
    gap: 1em;
}
.first h1,.second h1{
    font-size: 3rem;
}
.first img,.second img{
    height: 3.9em;
}

